table{
    width: 70%;
    border-collapse: collapse;
    text-align: center;  
}
th, td{
    border: 1px solid black;
    text-align: center;
}
.droite{
    text-align: right;
    padding-right: 50px;
}
.icone{
    width: 25px;
    height: 25px;
}

th{
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color: #84b4e2;
}
tr:nth-child(even){
    background: #fff
}
tr:nth-child(odd){
    background:rgba(118, 122, 122, 0.336)
}
table a{
    text-decoration: none;
}
main{
    min-height: 600px;
}
aside{
    border-left: 1px solid #e5edf1f8;
    background-color: #84b4e2;

}
